

.desktophdcopy2 {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 812px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.desktophdcopy2 .group10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -2px;
  height              : 820px;
  width               : 1419px;
  position            : absolute;
  margin              : 0;
  left                : -4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .group10 .bgcolor {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 812px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .group10 .bgcolor1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -133px;
  height              : 375px;
  width               : 105px;
  position            : absolute;
  margin              : 0;
  left                : 139px;
  -ms-transform       : rotate(90deg); /* IE 9 */
  -webkit-transform   : rotate(90deg); /* Chrome, Safari, Opera */
  transform           : rotate(90deg);
  opacity             : 0.47;
}
.desktophdcopy2 .group10 .topbarrec {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 820px;
  width               : 108px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .group10 .username {
  background-color    : rgba(255,255,255,0.0);
  top                 : 179px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Nunito-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.desktophdcopy2 .group10 .sed08512 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 356px;
  height              : 71px;
  width               : 71px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .group10 .emailenvelopelettermailmailing512 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 249px;
  height              : 66px;
  width               : 66px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .group10 .face {
  background-color    : rgba(255,255,255,0.0);
  top                 : 116px;
  height              : 68px;
  width               : 70px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .group10 .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 27px;
  height              : 50px;
  width               : 72px;
  position            : absolute;
  margin              : 0;
  left                : 1351px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .group10 .group .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .group10 .group .uf0d7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 55px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.desktophdcopy2 .group10 .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 38px;
  height              : 30px;
  width               : 28px;
  position            : absolute;
  margin              : 0;
  left                : 1273px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .group10 .group2 .uf0a2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 26.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 31.0px;
}
.desktophdcopy2 .group10 .group2 .oval2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 15px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .group101 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -2px;
  height              : 820px;
  width               : 1419px;
  position            : absolute;
  margin              : 0;
  left                : -526px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .group101 .bgcolor {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 812px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .group101 .topbarrec {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 820px;
  width               : 108px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .group101 .username {
  background-color    : rgba(255,255,255,0.0);
  top                 : 179px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Nunito-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.desktophdcopy2 .group101 .sed08512 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 356px;
  height              : 71px;
  width               : 71px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .group101 .emailenvelopelettermailmailing512 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 249px;
  height              : 66px;
  width               : 66px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .group101 .face {
  background-color    : rgba(255,255,255,0.0);
  top                 : 116px;
  height              : 68px;
  width               : 70px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .group101 .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 27px;
  height              : 50px;
  width               : 72px;
  position            : absolute;
  margin              : 0;
  left                : 1351px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .group101 .group .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .group101 .group .uf0d7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 55px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.desktophdcopy2 .group101 .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 38px;
  height              : 30px;
  width               : 28px;
  position            : absolute;
  margin              : 0;
  left                : 1273px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .group101 .group2 .uf0a2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 26.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 31.0px;
}
.desktophdcopy2 .group101 .group2 .oval2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 15px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .a17576200 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 468px;
  height              : 59px;
  width               : 58px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .logo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 133px;
  width               : 328px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .logo .bonsitree {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 75px;
  width               : 69px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.9;
}
.desktophdcopy2 .logo .bonsi {
  background-color    : rgba(255,255,255,0.0);
  top                 : 9px;
  height              : auto;
  width               : 177px;
  position            : absolute;
  margin              : 0;
  left                : 153px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.93;
  font-family         : "Nunito-Regular", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 60.0px;
}
.desktophdcopy2 .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 484px;
  height              : 197px;
  width               : 298px;
  position            : absolute;
  margin              : 0;
  left                : 84px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 271px;
  height              : 197px;
  width               : 298px;
  position            : absolute;
  margin              : 0;
  left                : 84px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .rooms {
  background-color    : rgba(255,255,255,0.0);
  top                 : 258px;
  height              : 423px;
  width               : 298px;
  position            : absolute;
  margin              : 0;
  left                : 84px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .rooms .freerooms {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 207px;
  width               : 298px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .rooms .freerooms .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : 85px;
  width               : 298px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .rooms .freerooms .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : 194px;
  width               : 296px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .rooms .freerooms .group4 .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 119px;
  width               : 296px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .rooms .freerooms .group4 .group3 .a1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 119px;
  width               : 193px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .rooms .freerooms .group4 .group3 .a1 .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 119px;
  width               : 193px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .rooms .freerooms .group4 .group3 .a1 .room2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : auto;
  width               : 71px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Nunito-Regular", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(37, 38, 94, 1.0);
  text-align          : left;
  letter-spacing      : 0.3px;
  line-height         : 22.0px;
}
.desktophdcopy2 .rooms .freerooms .group4 .group3 .a1 .a1000amu20141030am {
  background-color    : rgba(255,255,255,0.0);
  top                 : 57px;
  height              : auto;
  width               : 71px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(120, 120, 147, 1.0);
  text-align          : left;
  letter-spacing      : 0.3px;
  line-height         : 14.0px;
}
.desktophdcopy2 .rooms .freerooms .group4 .group3 .a1 .rectangle11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : 70px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .rooms .freerooms .group4 .group3 .a11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 119px;
  width               : 166px;
  position            : absolute;
  margin              : 0;
  left                : 130px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .rooms .freerooms .group4 .group3 .a11 .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 119px;
  width               : 166px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .rooms .freerooms .group4 .group3 .a11 .room2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : auto;
  width               : 71px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Nunito-Regular", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(37, 38, 94, 1.0);
  text-align          : left;
  letter-spacing      : 0.3px;
  line-height         : 22.0px;
}
.desktophdcopy2 .rooms .freerooms .group4 .group3 .a11 .a1100amu20140100pm {
  background-color    : rgba(255,255,255,0.0);
  top                 : 53px;
  height              : auto;
  width               : 86px;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Nunito-Regular", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(120, 120, 147, 1.0);
  text-align          : left;
  letter-spacing      : 0.3px;
  line-height         : 18.0px;
}
.desktophdcopy2 .rooms .freerooms .group4 .group3 .a11 .rectangle11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : 70px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .rooms .freerooms .group4 .group31 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 75px;
  height              : 119px;
  width               : 295px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .rooms .freerooms .group4 .group31 .a1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 119px;
  width               : 193px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .rooms .freerooms .group4 .group31 .a1 .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 119px;
  width               : 193px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .rooms .freerooms .group4 .group31 .a1 .room4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : auto;
  width               : 71px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Nunito-Regular", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(37, 38, 94, 1.0);
  text-align          : left;
  letter-spacing      : 0.3px;
  line-height         : 22.0px;
}
.desktophdcopy2 .rooms .freerooms .group4 .group31 .a1 .a1000amu20141030am {
  background-color    : rgba(255,255,255,0.0);
  top                 : 57px;
  height              : auto;
  width               : 71px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(120, 120, 147, 1.0);
  text-align          : left;
  letter-spacing      : 0.3px;
  line-height         : 14.0px;
}
.desktophdcopy2 .rooms .freerooms .group4 .group31 .a1 .rectangle11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : 70px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .rooms .freerooms .group4 .group31 .a11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 119px;
  width               : 166px;
  position            : absolute;
  margin              : 0;
  left                : 129px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .rooms .freerooms .group4 .group31 .a11 .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 119px;
  width               : 166px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .rooms .freerooms .group4 .group31 .a11 .room4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : auto;
  width               : 71px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Nunito-Regular", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(37, 38, 94, 1.0);
  text-align          : left;
  letter-spacing      : 0.3px;
  line-height         : 22.0px;
}
.desktophdcopy2 .rooms .freerooms .group4 .group31 .a11 .a1100amu20140100pm {
  background-color    : rgba(255,255,255,0.0);
  top                 : 53px;
  height              : auto;
  width               : 86px;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Nunito-Regular", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(120, 120, 147, 1.0);
  text-align          : left;
  letter-spacing      : 0.3px;
  line-height         : 18.0px;
}
.desktophdcopy2 .rooms .freerooms .group4 .group31 .a11 .rectangle11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : 70px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .rooms .freerooms .freeroom {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 25px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Nunito-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.desktophdcopy2 .rooms .bookedroom {
  background-color    : rgba(255,255,255,0.0);
  top                 : 213px;
  height              : 210px;
  width               : 298px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .rooms .bookedroom .rectangle2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : 85px;
  width               : 298px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .rooms .bookedroom .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : 194px;
  width               : 296px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .rooms .bookedroom .group4 .room2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 119px;
  width               : 296px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .rooms .bookedroom .group4 .room2 .a1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 119px;
  width               : 193px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .rooms .bookedroom .group4 .room2 .a1 .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 119px;
  width               : 193px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .rooms .bookedroom .group4 .room2 .a1 .room21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : auto;
  width               : 71px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Nunito-Regular", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(37, 38, 94, 1.0);
  text-align          : left;
  letter-spacing      : 0.3px;
  line-height         : 22.0px;
}
.desktophdcopy2 .rooms .bookedroom .group4 .room2 .a1 .a0800amu20140900am {
  background-color    : rgba(255,255,255,0.0);
  top                 : 57px;
  height              : auto;
  width               : 94px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Nunito-Regular", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(120, 120, 147, 1.0);
  text-align          : left;
  letter-spacing      : 0.3px;
  line-height         : 18.0px;
}
.desktophdcopy2 .rooms .bookedroom .group4 .room2 .a1 .rectangle11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : 70px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .rooms .bookedroom .group4 .room2 .a11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 119px;
  width               : 166px;
  position            : absolute;
  margin              : 0;
  left                : 130px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .rooms .bookedroom .group4 .room2 .a11 .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 119px;
  width               : 166px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .rooms .bookedroom .group4 .room2 .a11 .room21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : auto;
  width               : 71px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Nunito-Regular", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(37, 38, 94, 1.0);
  text-align          : left;
  letter-spacing      : 0.3px;
  line-height         : 22.0px;
}
.desktophdcopy2 .rooms .bookedroom .group4 .room2 .a11 .a0900amu20141000am {
  background-color    : rgba(255,255,255,0.0);
  top                 : 53px;
  height              : auto;
  width               : 86px;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Nunito-Regular", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(120, 120, 147, 1.0);
  text-align          : left;
  letter-spacing      : 0.3px;
  line-height         : 18.0px;
}
.desktophdcopy2 .rooms .bookedroom .group4 .room2 .a11 .rectangle11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : 70px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .rooms .bookedroom .group4 .room4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 75px;
  height              : 119px;
  width               : 295px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .rooms .bookedroom .group4 .room4 .a1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 119px;
  width               : 193px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .rooms .bookedroom .group4 .room4 .a1 .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 119px;
  width               : 193px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .rooms .bookedroom .group4 .room4 .a1 .room41 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : auto;
  width               : 71px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Nunito-Regular", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(37, 38, 94, 1.0);
  text-align          : left;
  letter-spacing      : 0.3px;
  line-height         : 22.0px;
}
.desktophdcopy2 .rooms .bookedroom .group4 .room4 .a1 .a1000amu20141030am {
  background-color    : rgba(255,255,255,0.0);
  top                 : 57px;
  height              : auto;
  width               : 71px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(120, 120, 147, 1.0);
  text-align          : left;
  letter-spacing      : 0.3px;
  line-height         : 14.0px;
}
.desktophdcopy2 .rooms .bookedroom .group4 .room4 .a1 .rectangle11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : 70px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .rooms .bookedroom .group4 .room4 .a11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 119px;
  width               : 166px;
  position            : absolute;
  margin              : 0;
  left                : 129px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .rooms .bookedroom .group4 .room4 .a11 .rectangle3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 119px;
  width               : 166px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .rooms .bookedroom .group4 .room4 .a11 .room41 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : auto;
  width               : 71px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Nunito-Regular", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(37, 38, 94, 1.0);
  text-align          : left;
  letter-spacing      : 0.3px;
  line-height         : 22.0px;
}
.desktophdcopy2 .rooms .bookedroom .group4 .room4 .a11 .a1100amu20140100pm {
  background-color    : rgba(255,255,255,0.0);
  top                 : 53px;
  height              : auto;
  width               : 86px;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Nunito-Regular", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(120, 120, 147, 1.0);
  text-align          : left;
  letter-spacing      : 0.3px;
  line-height         : 18.0px;
}
.desktophdcopy2 .rooms .bookedroom .group4 .room4 .a11 .rectangle11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 20px;
  height              : 70px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .rooms .bookedroom .bookedrooms {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Nunito-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
.desktophdcopy2 .a1333door512 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 727px;
  height              : 60px;
  width               : 60px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .membershipbar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 187px;
  height              : 40px;
  width               : 257px;
  position            : absolute;
  margin              : 0;
  left                : 105px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophdcopy2 .membershipleft {
  background-color    : rgba(255,255,255,0.0);
  top                 : 159px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 123px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Nunito-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 24.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}